JWT_SECRET="RAHASIA_S3AP3DIA"
PORT=3000
EXPIRES_IN = "1d"
origin = "http://localhost:3000"

# DATABASE_URL="postgresql://app_user:user@localhost:5432/seapedia"
# DATABASE_URL="postgresql://username:password@localhost:5432/seapedia?schema=public" # buat init db
# DATABASE_URL_AUTH="postgresql://username:password@localhost:5432/seapedia?schema=public" #fill your username and password db super user



DATABASE_URL="postgresql://user:password@localhost:5432/seapedia"
# DATABASE_URL="postgresql://user:password@localhost:5432/seapedia?schema=public" # buat init db
DATABASE_URL_AUTH="postgresql://user:password@localhost:5432/seapedia?schema=public"